body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 300px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #010f47;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

#result {
    margin-top: 10px;
    font-size: 14px;
}
