{% extends 'base.html' %}

{% block title %}Home - Hate Speech Detection{% endblock %}

{% block content %}
<div class="hero-section bg-light text-dark text-center py-5">
    <div class="container">
        <img src="{{ url_for('static', filename='dataset-cover.jpg') }}" class="img-fluid mb-4" alt="Hate Speech Detection">
        <div class="hero-text ">
            <h2 class="mb-4">About Hate Speech Detection</h2>
            <p class="lead">
                The Encyclopedia of the American Constitution states that hate speech is "usually thought to include communications of animosity or disparagement of an individual or a group on account of a group characteristic such as race, color, national origin, sex, disability, religion, or sexual orientation."
            </p>
            <h2 class="mb-4">වෛර කථන අනාවරණය ගැන</h2>
            <p class="lead">
                ඇමරිකානු ආණ්ඩුක්‍රම ව්‍යවස්ථාවේ විශ්වකෝෂය පවසන්නේ වෛරී කථනය "සාමාන්‍යයෙන් ජාතිය, වර්ණය, ජාතික සම්භවය, ලිංගය, ආබාධිතභාවය, ආගම හෝ ලිංගිකත්වය වැනි කණ්ඩායම් ලක්ෂණයක් මත පුද්ගලයෙකු හෝ කණ්ඩායමක් එදිරිවාදිකම් හෝ අවමානයට ලක්කිරීමේ සන්නිවේදනයන් ඇතුළත් කිරීමට අදහස් කරන බවයි."
            </p>
        </div>
    </div>
</div>
{% endblock %}
