{% extends 'base.html' %}

{% block title %}Home - Hate Speech Detection{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="hero-section d-flex align-items-center justify-content-center text-center text-light">
    <div class="hero-image">
        <img src="{{ url_for('static', filename='image1.png') }}" class="img-fluid" alt="Hate Speech Detection">
        <div class="hero-text">
            <h2 class="display-4 mb-4">About Hate Speech Detection</h2>
            <p class="lead mb-4">
                The Encyclopedia of the American Constitution states that hate speech is "usually thought to include communications of animosity or disparagement of an individual or a group on account of a group characteristic such as race, color, national origin, sex, disability, religion, or sexual orientation."
            </p>
            <h2 class="display-4 mb-4">වෛර කථන අනාවරණය ගැන</h2>
            <p class="lead">
                ඇමරිකානු ආණ්ඩුක්‍රම ව්‍යවස්ථාවේ විශ්වකෝෂය පවසන්නේ වෛරී කථනය "සාමාන්‍යයෙන් ජාතිය, වර්ණය, ජාතික සම්භවය, ලිංගය, ආබාධිතභාවය, ආගම හෝ ලිංගිකත්වය වැනි කණ්ඩායම් ලක්ෂණයක් මත පුද්ගලයෙකු හෝ කණ්ඩායමක් එදිරිවාදිකම් හෝ අවමානයට ලක්කිරීමේ සන්නිවේදනයන් ඇතුළත් කිරීමට අදහස් කරන බවයි."
            </p>
        </div>
    </div>
</div>
{% endblock %}
